{% extends 'base.html.twig' %}

{% block content %}
    <div class="main">
        <div class="overview-container">
            <h1>Adding a new photo</h1>

            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.text) }}
            {{ form_row(form.location) }}
            {{ form_row(form.year) }}
            {{ form_row(form.price) }}
            {{ form_row(form.pricedescription) }}
            {{ form_row(form.project) }}
            {{ form_row(form.position) }}
            {{ form_row(form.image) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}